body {
	display: grid;
	place-content: center center;
	text-align: center;
	height: 100vh;
	background: #e6e6e6;
}

html, body, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 56px;
}

pre {
	margin: 36px;
}

.slide-button {
	border: 2px solid navy;
	border-radius: 5px;
	background: white;
	font-family: "Roboto";
	color: navy;
	font-size: 16px;
	padding: 8px;
	margin: 12px;
	transition: 200ms;
	text-transform: uppercase;
}

.slide-button:hover {
	cursor: pointer;
	background: #000080ab;
	color: white;
	-webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
}

.slide-button:active {
	box-shadow: none;
}