body {
	display: grid;
	place-content: center center;
	text-align: center;
	height: 100vh;
	background: #e6e6e6;
}

html, body, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-family: "Roboto";
}

h1 {
	font-size: 56px;
}

pre {
	margin: 36px;
}

.slide-button {
	border-radius: 5px;
	background: white;
	color: navy;
	font-size: 16px;
	padding: 12px 24px;
	margin: 24px;
	transition: 200ms;
	text-transform: uppercase;
}

.slide-button:hover {
	cursor: pointer;
	background: paleturquoise;
	color: navy;
	-webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
	position: relative;
	top: -1px;
}

.slide-button:active {
	border: none;
	text-decoration: none;
	box-shadow: none;
	position: relative;
	top: 0;
}

.code {
	text-align: left;
	font-size: 16px;
	padding: 8px;
	width: auto;
	background: white;
}

.square {
	width: 100px;
	height: 100px;
	margin: 16px auto;
	text-align: center;
	color: white;
}
